<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoporateMember</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">법인 회원 수정(삭제)</h1>
                            </div>
                             <form class="user" name="coporateMemberForm" th:action="@{/member/CoporateMember_update}" th:object="${form}" method="POST">
                                <div class="sidebar-heading">
				                	Applicant Info
				            	</div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="Id" id="Id"
                                            placeholder="Login Id" th:field="${coporateMember.id}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="Name" id="Name"
                                            placeholder="법인 명" th:field="${coporateMember.name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="Email" id="Email"
                                        placeholder="Email Address" th:field="${coporateMember.email}">
                                </div>                               
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="LoginPassword" id="LoginPassword" 
                                        placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="RepeatPassword" 
                                        placeholder="Repeat Password">
                                    </div>
                                </div>
                                <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                                <div class="alert alert-fail" id="alert-fail">비밀번호가 일치하지 않습니다.</div>
                                <div class="form-group row">
                                	<div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="tel" class="form-control form-control-user" name="Tel" id="Tel"
                                        placeholder="전화번호" th:field="${coporateMember.tel}">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="CoporateNo" id="CoporateNo" 
                                        placeholder="사업자 등록번호" th:field="${coporateMember.coporateNo}">
                                    </div>                              
                                </div>
                                <div class="form-group row">                                    
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="PgNo" id="PgNo" 
                                        placeholder="가맹점 코드" th:field="${coporateMember.pgNo}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="ZipCode" id="ZipCode" 
                                        placeholder="Zip Code" th:field="${coporateMember.zipCode}">
                                    </div>    
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="baseAddress" id="baseAddress"
                                        placeholder="Base Address" th:field="${coporateMember.baseAddress}">
                                </div> 
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="detailAddress" id="detailAddress"
                                        placeholder="Detail Address" th:field="${coporateMember.detailAddress}">
                                </div>
                                <div class="form-group row" >                                	                                 	
									<div class="container" 
										style="width:150px;height:100px;" >										
										<select class="form-control" name="StatusType" id="StatusType">
										  <option value="" disabled selected  hidden>Status</option>
										  <option value = "JUDGEMENT">Judgment</option>
										  <option value = "REJECT">Reject</option>
										  <option value = "JOIN">Join</option>
										  <option value = "DELETION">Deletion</option>	
										</select>
									</div>									
	                            </div>
	                            <div class="form-group row">
                                	<div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="tel" class="form-control form-control-user" name="confirmDate" id="confirmDate"
                                        placeholder="승인 날짜" th:field="${coporateMember.confirmDate}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="filePath" id="filePath" 
                                        placeholder="첨부파일 경로" th:field="${coporateMember.filePath}">
                                    </div>                                    
                                </div>
                                <a href="#" class="btn btn-primary btn-user btn-block">
                                    Save
                                </a>                                
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <script>
		$(".btn.btn-primary.btn-user.btn-block").click(function(e) {			
			$("form[name=coporateMemberForm]").submit();
			
		});
		
		$(function(){
			$("#alert-success").hide();
			$("#alert-fail").hide();
			$("input").keyup(function(){
				var pwd1 = $("#LoginPassword").val();
				var pwd2 = $("#RepeatPassword").val();
				if(pwd1 != "" && pwd2 != "") {
					if(pwd1 == pwd2){
						$("#alert-success").show();
						$("#alert-fail").hide();
						$("#submit").removeAttr("disabled");
					}else {
						$("#alert-success").hide();
						$("#alert-fail").show();
						$("#submit").attr("disabled", "disabled");
					}
				}
			});
		});
    </script>

</body>

</html>